.card {
  display: flex;
  justify-content: around;
  align-items: center;
  padding: 1px;
}

.task__remove-icon {
  display: none;
  margin: 0px 20px;
}

.card:hover .task__remove-icon {
  display: block;
  background-color: transparent;
  border: 0px solid gray;
  color: red;
}
